@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık ID")
    @Html.TextBoxFor(x => x.HeadingID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    <br />
    @Html.Label("Tarihı")
    @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @Class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
    <!--güncelleme yapabilmek için sütunların tamamını doldurmamız gerekiyor, yoksa hata döndürüyor.-->
    <!--çözüm yolları 1-sadece doldurmak istediğimzi sütunları arka tarafta gönderebiliriz 3- yazar bilgisi arka planda gelecek, tarihi de gizleyebiliriz. sadece açıldığı anda kalsın, değiştirelemesin.-->

</div>
}

