@model EntityLayer.Concrete.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<h2>İçerik Girişi</h2>
<br />
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="text" name="HeadingID" value="@ViewBag.d" />
        <br />
        <input type="text" name="WriterID" value="@ViewBag.w" />
        <br />

        @Html.Label("İçerik Ekleme Alanı")
        @Html.TextAreaFor(x => x.ContentValue,8,30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)
        <br />
        <button class="btn btn-outline-success">İçerik Kaydet</button>

    </div>
}
